<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/profile.css"> 
</head>
<body>
    <div class="profile-container">
        <div class="profile-picture">
            <img src="../images/profile.jpeg" alt="Profile Picture">
        </div>
        <div class="profile-actions">
            <form action="/delete_profile" method="POST">
                <button type="submit">Delete Account</button>
            </form>
            <form action="/change_password">
                <button type="submit">Change Password</button>
            </form> 
            <button onclick="location.href='/view_assessments'">View Old Assessment Results</button>
            <button onclick="location.href='/logout'">Log Out</button>
        </div>
    </div>
</body>
</html>
